<mat-card
  style="
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);
    height: 100%;
  "
>
  <h1>Update Categories</h1>
  <div class="container">
    <form
      [formGroup]="updateCategoryForm"
      (ngSubmit)="submitUpdateCategoryData()"
    >
      <label for="category">Category:</label>
      <input
        type="text"
        id="category"
        name="category"
        placeholder="Category Name"
        formControlName="category"
        required
      />
      <label for="description">Description:</label>
      <textarea
        id="description"
        name="description"
        rows="4"
        placeholder="Description"
        formControlName="description"
        required
      ></textarea>
      <button type="submit">Update</button>
    </form>
  </div>
</mat-card>
