
<mat-card style="margin-top: 15px;border-radius: 10px;box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);height:100%;">
  <h1>Add New Categories</h1>
    <div class="container">
    <form [formGroup]="addCategoryForm" (ngSubmit)="submitForm()">
      <label for="category">Category:</label>
      <input type="text" id="category" name="category" placeholder="Category Name"  formControlName="category" required>
      <label for="description">Description:</label>
      <textarea id="description" name="description" rows="4" placeholder="Description" formControlName="description" required></textarea>
      <button type="submit">Add Category</button>
    </form>
  </div>
</mat-card>
