
<div class="container">
  <div class="heading">
    <h1 class="heading__text">Quiz Name</h1>
  </div>

  <!-- Quiz section -->
  <div class="quiz">
    <div class="quiz__heading">
      <h2 class="quiz__heading-text">
        Your are <span class="result"></span> right.
      </h2>
    </div>

    <form class="quiz-form">
      <div class="quiz-form__quiz" *ngFor="let value of data; let i = index">
        <p
          class="quiz-form__question"
          [innerHTML]="stripHtmlTags(value.question)"
        >
          Q.{{ value?.question }}
        </p>
        <label class="quiz-form__ans" [for]="value?.options[0]?.optionOne">
          <input
            type="radio"
            [name]="value?.options[0]._id"
            [id]="value?.options[0]?.optionOne"
            [(ngModel)]="value.givenAnswer"
            [value]="value?.options[0]?.optionOne"
          />
          <span class="design"></span>
          <span class="text">{{ value?.options[0]?.optionOne }}</span>
        </label>
        <label class="quiz-form__ans" [for]="value?.options[0]?.optionTwo ">
            <input
              type="radio"
              [name]="value?.options[0]._id"
              [id]="value?.options[0]?.optionTwo "
              [(ngModel)]="value.givenAnswer"
              [value]="value?.options[0]?.optionTwo "
            />
          <span class="design"></span>
          <span class="text">{{ value?.options[0]?.optionTwo }}</span>
        </label>
        <label class="quiz-form__ans" [for]="value?.options[0]?.optionThree">
          <input
            type="radio"
            [name]="value?.options[0]._id"
            [id]="value?.options[0]?.optionThree"
            [(ngModel)]="value.givenAnswer"
            [value]="value?.options[0]?.optionThree"
          />
          <span class="design"></span>
          <span class="text">{{ value?.options[0]?.optionThree }}</span>
        </label>
        <label class="quiz-form__ans" [for]="value?.options[0]?.optionFour">
          <input
            type="radio"
            [name]="value?.options[0]._id"
            [id]="value?.options[0]?.optionFour"
            [(ngModel)]="value.givenAnswer"
            [value]="value?.options[0]?.optionFour"
          />
          <span class="design"></span>
          <span class="text">{{ value?.options[0]?.optionFour }}</span>
        </label>
      </div>
      <input class="submit" type="submit" value="Submit" (click)="submitQuiz()" />
    </form>
  </div>
</div>
