<div class="footer">
  <div class="sub_footer">
    <div class="footer-item">
      <ul>
        <h2>Online Exam Portal</h2>
      <p>
        This website related to the technical quizzes and all Compatative exam quizzs.
      </p>
      </ul>
    </div>
    <div class="footer-item">
      <ul>
        <span>Quick Links</span>
        <li routerLink="/">Home</li>
      </ul>
      <ul>
        <li routerLink="/about">About</li>
      </ul>
      <ul>
        <li>Contact</li>
      </ul>
      <ul>
        <li>FAQ</li>
      </ul>
    </div>
    <div class="footer-item">
      <ul>
        <span>Contact</span>
        <li>Address</li>
        <span>Shahjahanpur</span>
        <li>Email</li>
        <span>kumar0072@gmail.com</span>
        <li>Mobile</li>
        <span>+8800958825</span>
      </ul>
    </div>
    <div class="footer-item">
      <ul>
        <span>Subscribe</span><br />
        <input type="text" placeholder="Name"/>
      </ul>
      <ul>
        <input type="text" placeholder="Email"/>
      </ul>
      <ul>
        <button style="cursor: pointer;">Subscribe</button>
      </ul>
    </div>
  </div>
  <hr style="width: 90%;margin: auto;border: 2px solid #fff;"/>
  <h3 style="text-align: center">@copyright:All rights reserved</h3>
</div>
