<div class="bootstrap-wrapper" style="margin-top: 20px;">
  <div class="row">
    <div class="col-md-12">
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle style="margin-bottom: 10px; font-weight: 500">
            <h2>Enter The new Question related to the quiz</h2>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="addQuestionForm" (ngSubmit)="submitQuestionForm()">
            <ckeditor
              [editor]="Editor"
              name="content"
              style="height: 400px;"
              formControlName="question"
            ></ckeditor>
            <div class="row" style="margin-top: 20px">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label><b>Enter Option-1</b></mat-label>
                  <input
                    type="text"
                    placeholder="Write First Option"
                    required
                    formControlName="optionOne"
                    matInput
                  />
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label><b>Enter Option-2</b></mat-label>
                  <input
                    type="text"
                    placeholder="Write Second Option"
                    required
                    formControlName="optionTwo"
                    matInput
                  />
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label><b>Enter Option-3</b></mat-label>
                  <input
                    type="text"
                    placeholder="Write Third Option"
                    required
                    formControlName="optionThree"
                    matInput
                  />
                </mat-form-field>
              </div>
              <div class="col-md-6">
                <mat-form-field class="w-100">
                  <mat-label><b>Enter Option-4</b></mat-label>
                  <input
                    type="text"
                    placeholder="Write Fourth Option"
                    required
                    formControlName="optionFour"
                    matInput
                  />
                </mat-form-field>
              </div>
            </div>
            <mat-form-field class="w-100">
              <mat-label><b>Select Correct Answer</b></mat-label>
              <mat-select formControlName="answer">
                <mat-option *ngFor="let option of dynamicOptions" [value]="option">{{option}}</mat-option>
              </mat-select>
            </mat-form-field>
            <div class="container text-center">
              <button mat-raised-button color="accent" [disabled]="addQuestionForm.invalid">Save</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
