
<div class="container text-end" style="margin-top: 20px;padding-right: 40px;">
  <button  mat-raised-button color="accent" routerLink="/admin/addquestion" >Add Question</button>
</div>
<mat-card style="margin-top: 15px;overflow-y: scroll;height:550px;">


<div class="bootstrap-wrapper mt20"  style="margin-top: 15px;margin-left: 10px;margin-right: 10px; border-radius: 10px;box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3)height
900%;">
<h1 class="mt10">view questions</h1>
  <div class="row">
    <div class="col-md-11">
      <mat-card>
        <mat-card-content>
          <p>Question:-1 <span class="ml20">What is java</span></p>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <p>1:-<span>A</span></p>
              </div>
              <div class="col-md-6">
                <p>2:-<span>B</span></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <p>3:-<span>c</span></p>
              </div>
              <div class="col-md-6">
                <p>4:-<span>d</span></p>
              </div>
            </div>
            <mat-divider></mat-divider>
            <p class="mt20"><b>Correct Answer:-</b><span>B</span></p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-11" style="margin-top: 10px;">
      <mat-card>
        <mat-card-content>
          <p>Question:-1 <span class="ml20">What is java</span></p>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <p>1:-<span>A</span></p>
              </div>
              <div class="col-md-6">
                <p>2:-<span>B</span></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <p>3:-<span>c</span></p>
              </div>
              <div class="col-md-6">
                <p>4:-<span>d</span></p>
              </div>
            </div>
            <mat-divider></mat-divider>
            <p class="mt20"><b>Correct Answer:-</b><span>B</span></p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

</mat-card>
