
<div class="container text-end" style="margin-top: 20px;padding-right: 40px;">
  <button  mat-raised-button color="accent" (click)="navigateUrl(quizID)">Add Question</button>
</div>
<mat-card style="margin-top: 15px;overflow-y: scroll;height:550px;">
<div class="bootstrap-wrapper mt20"  style="margin-top: 15px;margin-left: 10px;margin-right: 10px; border-radius: 10px;box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3)height
900%;">
<h1 class="mt10">view questions</h1>
  <!-- <div class="row"> -->
    <div class="col-md-12" style="display: grid;gap: 10px;">
      <mat-card *ngFor="let value of data">
        <div class="container">
          <div style="display: flex;gap:7px;justify-content: end;padding-bottom:10px;padding-top: 10px;">
            <button style="border-radius: 10px;background-color: lightgreen;border: none;"><mat-icon>create</mat-icon></button>
            <button style="border-radius: 10px;background-color: lightsalmon;border: none;" (click)="deleteQuestion(value._id)"><mat-icon>delete</mat-icon></button>
          </div>
          </div>
        <mat-card-content >
          <p>Question - <span class="ml20" style="text-align: justify;" [innerHTML]="stripHtmlTags(value.question)"></span></p>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <p>a).<span> {{value.options[0].optionOne}}</span></p>
              </div>
              <div class="col-md-6">
                <p>b).<span> {{value.options[0].optionTwo}}</span></p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <p>c).<span> {{value.options[0].optionThree}}</span></p>
              </div>
              <div class="col-md-6">
                <p>d).<span> {{value.options[0].optionFour}}</span></p>
              </div>
            </div>
            <mat-divider></mat-divider>
            <p style="padding-top: 20px;font-size: 15px;"><b>Correct Answer:- </b><span><b> {{value.answer}}</b></span></p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    </div>
</mat-card>
