<span>
  <mat-toolbar style="background-color:#333;position: fixed;box-shadow: 10px 10px 5px -2px rgba(122, 121, 121, 0.1);border-radius: 15px;">
    <span class="header">Online Exam Portal</span>
  </mat-toolbar>
</span>
<div class="main_form">
  <div>
    <div>
        <img class="login-image" src="../../../assets/1.jpeg" alt="Side Image">
        <h3>Register Here</h3>
    </div>
  </div>
  <div style="margin-bottom: 5%;">
    <div>
      <div class="login_section container">
          <form class="login-form" [formGroup]="registrationForm" (ngSubmit)="registerUser()">
            <div class="form-group">
              <input class="form-control" type="text" id="text" name="Name" placeholder="Full name" formControlName="fullName" required>
              <div *ngIf="registrationForm.get('fullName').touched && registrationForm.get('fullName').invalid" class="error-message">
                Name is required.
              </div>
            </div>
            <div class="form-group">
              <input class="form-control" type="text" id="Username" name="Username" placeholder="Username" formControlName="userName" required>
              <div *ngIf="registrationForm.get('userName').touched && registrationForm.get('userName').invalid" class="error-message">
                UserName is required.
              </div>
            </div>
            <div class="form-group">
              <input class="form-control" type="email" id="email" name="email" placeholder="email" formControlName="email"  required>
              <div *ngIf="registrationForm.get('email').touched && registrationForm.get('email').invalid" class="error-message">
                Email is required.
              </div>
            </div>
             <div class="form-group">
              <input class="form-control" type="text" id="cochingName" name="cochingName" placeholder="Coching Name" formControlName="cochingName"  required>
              <div *ngIf="registrationForm.get('cochingName').touched && registrationForm.get('cochingName').invalid" class="error-message">
                Coching Name is required.
              </div>
            </div>
            <div class="form-group">
              <input class="form-control" type="password" id="password" name="password" placeholder="Password" formControlName="password"  required>
              <div *ngIf="registrationForm.get('password').touched && registrationForm.get('password').invalid" class="error-message">
                Password is required and must be at least 8 characters.
              </div>
            </div>
            <div class="form-group">
              <input class="form-control" type="password" id="confirmpassword" name="password" placeholder="Confirmed Password" formControlName="confirmedPassword" required>
              <div *ngIf="registrationForm.get('confirmedPassword').touched && registrationForm.get('confirmedPassword').invalid" class="error-message">
                Confirmed Password is required.
              </div>
            </div>
            <button type="submit" [disabled]="registrationForm.invalid">Register</button>
            <div class="signup-link">
              <p>If you are alredy registered? <a routerLink="/login">Login</a></p>
             </div>
          </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
