<mat-card style="margin-top: 15px;overflow-y: scroll;height:650px;">
  <mat-card class="mt10 mr20 ml20" style="margin-top: 15px;margin-left: 10px;margin-right: 10px; border-radius: 10px;box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3)height
  100%;" *ngFor="let value of data">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title style="color: blue;cursor: pointer;">
       {{value.quizzeTitle}}
      </mat-card-title>
      <mat-card-subtitle>
      {{value.category}}
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{value.quizzeDescription}}</p>
    </mat-card-content>
    <!-- <mat-card-action> -->
      <div style="display: flex;gap: 10px;margin-bottom: 10px;margin-left: 10px;margin-top: 10px;align-items: center;flex-wrap: wrap;">
        <button mat-raised-button color="accent">Questions</button>
        <p style="color: red;padding-top: 10px;">Max-marks:{{value.maxMark}}</p>
        <p style="color: red;padding-top: 10px;">Display Question:-{{value.numberOfQuestion}}</p>
        <button mat-raised-button color="" style="background-color: lightgreen;">Attampts</button>
        <button mat-raised-button color="" style="background-color: lightskyblue;"  routerLink ="['/admin/updatequiz', value._id]" (click)="navigate(value._id)">Update</button>
        <button mat-raised-button color="warn" (click)="deleteQuiz(value._id)">delete</button>
      </div>

    <!-- </mat-card-action> -->
  </mat-card>
</mat-card>
