
<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
  <div class="collapse navbar-collapse " id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" aria-current="page" routerLink="/about">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" style="padding-right: 60px;" routerLink="/login">Login</a>
      </li>
    </ul>
  </div>
</nav>
<div class="main">
  <div>
    <img src="../../../assets/2.png" alt="">
  </div>
  <div class="sub_main">
    <div>
      <h1>Online Exam Portal</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor nemo fugit esse animi sunt porro ipsa sapiente recusandae distinctio repellat. Nobis illum veniam a animi vero labore cum optio! Nobis?
      </p>
      <button class="btn btn-primary" style="border-radius: 10px;" (click)="alert()">Let's started</button>
    </div>
  </div>
</div>
<app-footer></app-footer>
