<app-navbar></app-navbar>
<div class="main">
  <div>
    <img src="../../../assets/2.png" alt="">
  </div>
  <div class="sub_main">
    <div>
      <h1 style="cursor: pointer;">Online Exam Portal</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor nemo fugit esse animi sunt porro ipsa sapiente recusandae distinctio repellat. Nobis illum veniam a animi vero labore cum optio! Nobis?
      </p>
      <button class="btn btn-primary" style="border-radius: 10px;" routerLink="/user">Let's started</button>
    </div>
  </div>
</div>
<app-footer></app-footer>
