<mat-card style="margin-top: 15px;background-color:#CFD8DC;border-radius: 10px;  box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);height:85%;">
  <mat-action-list>
    <div mat-subheader>Menu</div>
    <button mat-list-item><mat-icon mat-list-icon>home</mat-icon>home</button>
    <button mat-list-item routerLink="/admin/profile"><mat-icon mat-list-icon>account_circle</mat-icon>Profile</button>
    <button mat-list-item  routerLink="/admin/viewcategory"><mat-icon mat-list-icon>list</mat-icon>Categories</button>
    <button mat-list-item  routerLink="/admin/addcategory"><mat-icon mat-list-icon>add_circle_outline</mat-icon>Add Categories</button>
    <button mat-list-item  routerLink="/admin/viewquizzes"><mat-icon mat-list-icon>quiz</mat-icon>Quizzes</button>
    <button mat-list-item  routerLink="/admin/addquizzes"><mat-icon mat-list-icon>add</mat-icon>add Quizzes</button>
    <button mat-list-item  routerLink="/admin/category"><mat-icon mat-list-icon>logout</mat-icon>Logout</button>
  </mat-action-list>
</mat-card>
