<mat-card style="margin-top: 20px;">
  <section id="header" class="jumbotron text-center">
    <h1 class="display-3">Welcome To Admin Dashboard</h1>
    <div class="container">
      <div class="row">
    <div class="four col-md-3">
      <div class="counter-box colored">
        <img class="user" src="../../../../assets/user.png"/>
        <span class="counter">837</span>
        <p>Registered Users</p>
      </div>
    </div>
    <div class="four col-md-3">
      <div class="counter-box colored">
        <img class="user" src="../../../../assets/user.png"/>
        <span class="counter">500</span>
       <p>Active Users</p>
      </div>
    </div>
    <div class="four col-md-3">
      <div class="counter-box colored">
        <img class="user" src="../../../../assets/active4.png"/>
        <span class="counter">289</span>
        <p>Active Quizes</p>
      </div>
    </div>
    <div class="four col-md-3">
      <div class="counter-box colored">
       <img class="user" src="../../../../assets/quize.png"/>
        <span class="counter">563</span>
        <p>No of Quizzes</p>
      </div>
    </div>
    </div>
  </div>
  </section></mat-card>
