
<mat-card style="margin-top: 15px;border-radius: 10px;box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.3);height: 100%;">
  <header>
    <mat-icon>category</mat-icon>
    <h1>All Categories</h1>
    <button class="btn btn-success" routerLink="/admin/addcategory">Add Categories</button>
  </header>
  <main>
  <div class="category-item" *ngFor="let value of data">
   <div>
    <mat-icon style="width: 86%;padding-left: 28px;" (click)="deleteCategory(value._id)">delete</mat-icon>
   <mat-icon (click)="navigate(value._id)">create</mat-icon>
   </div>
      <h2>{{value.category}}</h2>
      <p>{{value.description}}</p>
      <mat-icon>trending_flat</mat-icon><br>
    </div>
  </main>
  <router-outlet></router-outlet>
</mat-card>

